.main {
  border-radius: 10px;
  /* box-shadow: 15px 10px 52px #050216a8, -15px -10px 52px #0502188f; */
}
.products,
.nextProducts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* margin: 20px 0; */
  /* backdrop-filter: blur(22px) saturate(184%);
  -webkit-backdrop-filter: blur(22px) saturate(184%); */
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

/* ----------- Product Item ----------------- */
@import url("../utils/productItem/productItem.css");

.delete-all {
  text-align: right;
  margin: 20px;
}
.delete-all input {
  height: 25px;
  width: 25px;
  transform: translateY(5px);
  margin: 0 15px;
}
.delete-all span {
  text-transform: uppercase;
  color: rgb(3, 165, 206);
  letter-spacing: 1.3px;
}
.delete-all button {
  border: 1px solid crimson;
  padding: 10px 25px;
  color: crimson;
  text-transform: uppercase;
}
/* ------------ Filters Menu ----------------- */
.filter_menu {
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(244, 243, 233);
}
.filter_menu select,
input {
  border: 1px solid #ccc;
  outline: none;
  height: 30px;
}
.searchbar ,.row{
  flex: 0.5;
}
.searchbar {
  width: 100%;
  background-color: brown;
 margin-right: 15px;
}
.filter_menu input {
  width: 100%;
  padding-right: 10px;
}

/* -------------------- Load More --------------- */
.load_more {
  text-align: center;
}
.load_more button {
  padding: 10px 25px;
  margin-bottom: 20px;
  border: 1px solid #555;
  text-transform: capitalize;
}
@media only screen and (max-width: 720px) {
  /* .products {
    width: 100%; */
    /* display: flex;
    flex-wrap: wrap; */
    /* display: flex;
    grid-template-rows: 1fr 1fr 1fr;
    overflow-x: scroll;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  } */
  .products {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: space-evenly;
   align-items: center;
   align-content: center;
  }
  .nextProducts {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* ------------ Filters Menu ----------------- */
  .filter_menu {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .filter_menu select,
  input {
    border: 1px solid #ccc;
    outline: none;
  }
.searchbar,.row{
  width: 80vw;
}
  .filter_menu input {
    width: 100%;
  }
  
}
.row-sort{
  display: none;
}