.login-page {
  max-width: 500px;
  border: 2px solid #00000077;
  border-radius: 30px;
  padding: 30px;
  margin: 50px auto;
  display: grid;
  background: linear-gradient(145deg, #daed88, rgba(96, 192, 28, 0.9));
  box-shadow: 10px 10px 30px #b4b6bb, -10px -10px 30px #e2e3e5;
}
.login-page h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
}
.login-page form input,
.login-page form button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin: 10px 0;
  padding: 0 5px;
  outline: #000000;
  border: 1px solid rgb(230, 242, 245);
}
.login-page form .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #ff6200; */
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: #4b4c4daf;
  border-radius: 12px;
  border: 1px solid rgb(209, 213, 219);
}
.login-page form button {
  width: 180px;
  margin: 10px;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: larger;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  background: #e8e8e8dc;
  border: 1px solid #e8e8e8b9;
  transition: all 0.3s;
  box-shadow: 3px 3px 6px #c5c5c5, -3px -3px 6px #ffffffd8;
}
.login-page form button:hover {
  border: 1px solid white;
}
.login-page form button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
.login-page form a {
  color: rgb(255, 255, 255);
  letter-spacing: 1.3px;
  text-transform: uppercase;
}
.png-icons {
  display: flex;
  flex-wrap: nowrap;
  border: 2px solid #000000ad;
  border-radius: 20px;
  padding: 10px;
  align-content: center;
  justify-content: center;
}
.pngs {
  height: 60px;
  width: 80px;
  margin: 2px;
}
.flag {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  margin: 10px;
}
