.chat-help {
  display: flex;
  align-content: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #f4ffd4;
}
.hoverB{
  margin-top: 15px;
  border-radius: 5px;
  background-color: rgb(16, 57, 35);
}



.buttom-tab{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-evenly;
width: 100%;
}
.home,.categ,.cartt,.contt{
  text-align: center;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: smaller;
  color: rgb(21, 95, 102);
  margin-left: 10px;
  margin-right: 10px;
}